@import "tailwindcss";

:root {
  --background: #F5F5F5;
  /* --foreground: #171717; */
  --main-green: #2C663E;
  --secondary-green: #EEF7EE;
  --main-text: #000000;
  --secondary-text: #5e5c5c;
  --secondary-text-hover: #d4d4d4;
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

.main-text {
  color: var(--main-text);
}
.secondary-text {
  color: var(--secondary-text);
}
